/* --------------------------------------------------------------

   styles.css
   * Resets default browser CSS.

-------------------------------------------------------------- */


.ntl {
  font-family: 'ntlbold';
}

.centertext {
  text-align: center;
}

.superwrap {
  background-image: url("/media/EL-800-index.gif");
}

.wrapper {
  padding: 10px 0 0 0;
  height: 100%;
  margin: 0 auto;
  text-transform: uppercase;
}

.wrapper li {
  display: inline-block;
  padding-right: 0.5em;
  padding-left: 0.5em;
  font-size: 90%;
  border-color: #C8C7C8;
  border-style: solid;
  border-width: 2px;
}


.logo {
  margin-top: 50px;
}

.soXon {
  font-family: 'dapiferbold';
}

.soXon span {
  font-size: 86%;
  margin-top: 28px;
  margin-left: -0.8em;
  position: absolute;
}

.services {
  color: #C8C7C8;
  margin-top: -22px;
}

.apex {
  font-family: 'dapiferbold';
}

.dapiferbold {
  font-family: 'dapiferbold';
}

.about {
  color: #000000;
  text-transform: none;
  margin-top: 28px;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  max-width: 30em;
}
